.welcome {
  margin-top: 75px !important;
  font-size: 34pt !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.795) !important;
}

.introduction {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16pt;
  color: rgba(102, 102, 102, 0.795) !important;
  text-align: center !important;
}
#icons {
  text-align: center !important;
  font-size: 30px;
  color: rgb(99, 209, 212);
}
.i {
  padding: 50px;
}
@media screen and (max-width: 815px) {
  .welcome {
    font-size: 20pt;
  }
  .introduction {
    font-size: 12pt;
  }
}
