.welcome {
  margin-top: 75px !important;
  font-size: 34pt !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.795) !important;
}

.introduction {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16pt;
  color: rgba(102, 102, 102, 0.795) !important;
  text-align: center !important;
}
.card {
  height: 100px !important;
  display: flex;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
  margin: 10px !important;
}

.card:hover {
  border: 3px solid rgb(99, 209, 212) !important;
  color: white !important;
  opacity: 1.5x;
}

.desc {
  display: inline-block !important;
  color: grey;
  font-size: 16px !important;
  width: 170px !important;
}
#outer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center !important;
}

@media screen and (max-width: 900px) {
  #outer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    height: 200%;
    align-items: center;
    justify-items: center; /* adjusted */
  }
  .card {
    padding: 0 !important;
    width: 200px !important;
    margin: 0px !important;
  }
  .welcome {
    font-size: 20pt;
  }
  .introduction {
    font-size: 12pt;
  }
  .desc {
    font-size: 16px !important;
  }
}
