.welcome {
  margin-top: 75px !important;
  font-size: 34pt !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.795) !important;
}

.introduction {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16pt;
  color: rgba(102, 102, 102, 0.795) !important;
  text-align: center !important;
}
.card {
  height: 200px !important;
  padding: 10px !important;
  width: 300px !important;
  display: flex;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
}
.card:hover {
  background-color: rgb(99, 209, 212);
  opacity: 0.75;
  text-decoration-color: white;
}

.desc {
  display: inline-block !important;
  color: grey;
  padding: 0px !important;
  margin: 20px !important;
  font-size: 18px !important;
}
#container {
  width: 101% !important;
}
#outer {
  padding-top: 80px;
  width: 90%;
}

@media screen and (max-width: 900px) {
  .welcome {
    font-size: 20pt;
  }
  .introduction {
    font-size: 12pt;
  }
  .desc {
    font-size: 16px !important;
  }
}
