.title {
  font-size: 36px !important;
  margin-top: 75px !important;
  text-align: center !important;
  color: rgba(0, 0, 0, 0.795) !important;
}

#container {
  width: 102%;
}

.card {
  width: 300px !important;
}
